<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  </head>
  <body>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <img id="designingPage" th:src="@{/image/Image.jpg}" />
    <div class="para">
      <h1>About the project</h1>
      <p>I am doing project</p>
      <p>Doing you a greater progress</p>
    </div>
  </body>
</html>
